@font-face {
  font-family: 'Plumb Regular';
  font-style: normal;
  src: url('../fonts/plumb-regular.eot');
  src: url('../fonts/plumb-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/plumb-regular.woff2') format('woff2'),
       url('../fonts/plumb-regular.woff') format('woff'),
       url('../fonts/plumb-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Plumb Medium';
  font-style: normal;
  src: url('../fonts/plumb-medium.eot');
  src: url('../fonts/plumb-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/plumb-medium.woff2') format('woff2'),
       url('../fonts/plumb-medium.woff') format('woff'),
       url('../fonts/plumb-medium.ttf') format('truetype');
}